*{
    font-family: 'Red Hat Display';
    /* margin: 0; */
    /* padding: 2px; */
    word-wrap: break-word;
/* white-space: pre-wrap; */
word-break: break-word;
}
.mainDiv{
    background-color: rgb(250, 249, 215);
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.imgLogo{
    height: 26px;
}
.img-Foot{
    height: 100px;
}

.listEle{
    display: flex;
}

.LogoContainer{

}
.ListContainer{

}

.container{
    height: 90%;
    width: 90%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3,1fr);
}

ul{
    font-family: 'Red Hat Display';
    color: #7a808d;
}

.web3img{
    height: 100%;
    width: 100%;
}

p{
    font-family: 'Red Hat Display';
    margin: 1px;
}

.sec-para{
    color: slategrey;
}
.NewPostContainer{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
hr{
    color: slategray;
    width: 92%;
}

.headingMain{
    font-size: 20px;
    margin: 0;
    color: hsl(35, 77%, 62%);
}

.readmorebutton{
    height: 40px;
    width: 124px;
    background-color: hsl(5, 85%, 63%);
    color: ghostwhite;
    border: 0;
    margin: 3px;
}

.footerStories{
    display: flex;
}

.grid-span-col-2{
    grid-column: span 2;
}
.grid-row-span-2{
    grid-row: span 2;
}